<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
  <link th:href = "@{/css/style.css}" rel="stylesheet">
  
  <title>Admin DashBoard </title>
</head>

<body class="d-flex flex-column min-vh-100">
	
  <!-- header -->
  <nav class="navbar navbar-expand-sm navbar-dark border-bottom " aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/MonkeyDLuffy}">MonkeyDLuffy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
        aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
    		<a class="nav-link" aria-current="page" 
       			th:href="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? '/adminDashboard' : '/userDashboard'}">
       			Home
       		</a>
    		
		  </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/faq}">FAQs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="text-end">
          <button type="button" class="btn btn-primary mx-2 my-2 " sec:authorize="isAuthenticated()"><a class="text-decoration-none text-white"
              href="/" th:href="@{/logout}">Logout</a></button>
        </div>
      </div>
    </div>
  </nav>
  

  <!--content-->
  <main class="d-flex flex-grow-1 flex-nowrap">
  	
   		<!-- Sidebar -->
    
   		<!--  <div class="d-flex flex-column flex-shrink-0 p-2 p-md-3 col-1 col-md-3 col-lg-2" id="side-bar" style="min-width:50px">
    		
    		<ul class="nav nav-pills flex-column mb-auto">
      			<li class="nav-item my-2">
        			<a th:href="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? '/adminDashboard' : '/userDashboard'}"
   						class="text-white text-decoration-none fs-5">
   						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-house-door-fill ms-1 ms-sm-2 ms-md-0" viewBox="0 0 16 16">
  							<path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
						</svg>
    					<span class="d-none d-md-inline ms-2 ">Dashboard</span>
					</a>
     
      			</li>
      			<hr class="border border-light border-2" />
      			
      			<li class="nav-item my-2">
        			<a th:href="@{/assetList}" class="text-decoration-none text-white" aria-current="page">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-fill ms-1 ms-sm-2 ms-md-0" viewBox="0 0 16 16">
  							<path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4zM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6z"/>
						</svg>
          				<span class="d-none d-md-inline ms-2 ">Asset</span>
        			</a>
      			</li>
      			<li class="nav-item my-2">
        			<a th:href="@{/assetRegistration}" class="text-decoration-none text-white" aria-current="page">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text ms-1 ms-sm-2 ms-md-0" viewBox="0 0 16 16">
  							<path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
  							<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
  							<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
						</svg>
          				<span class="d-none d-md-inline ms-2 ">Asset Registration</span>
        			</a>
      			</li>
      			<li class="nav-item my-2">
        			<a th:href="@{/assetHistory}"class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise ms-1 ms-sm-2 ms-md-0" viewBox="0 0 16 16">
  							<path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
  							<path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
						</svg>
          				<span class="d-none d-md-inline ms-2">Asset History</span>
        			</a>
      			</li>
      			<li class="nav-item my-2">
        			<a href="#" class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard-fill ms-1 ms-sm-2 ms-md-0" viewBox="0 0 16 16">
  							<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
						</svg>			
						<span class="d-none d-md-inline ms-2">Asset Categories</span>
        			</a>
      			</li>
      			<li class="nav-item my-2">
        			<a href="#" class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill ms-1 ms-sm-2 ms-md-0" viewBox="0 0 16 16">
  							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
						</svg>
          				<span class="d-none d-md-inline ms-2">Asset Status</span>
        			</a>
      			</li>
  
      			<li class="nav-item my-2">
        			<a href="#" th:href="@{/UserList}" class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill ms-1 ms-sm-2 ms-md-0" viewBox="0 0 16 16">
  							<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
						</svg>	
          				<span class="d-none d-md-inline ms-2">Manage Employee</span>
        			</a>
      			</li>
      			<li class="nav-item my-2">
        			<a href="#"  class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-up ms-1 ms-sm-2 ms-md-0" viewBox="0 0 16 16">
  							<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  							<path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
						</svg>	
          				<span class="d-none d-md-inline ms-2">Request Module</span>
        			</a>
      			</li>
      			<li class="nav-item my-2">
        			<a href="#" class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stack ms-1 ms-sm-2 ms-md-0" viewBox="0 0 16 16">
  							<path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.6.6 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.6.6 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.6.6 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535z"/>
  							<path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.6.6 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0z"/>
						</svg>	
          				<span class="d-none d-md-inline ms-2">Report</span>
        			</a>
      			</li>
    			
    		</ul>
    		<hr>
    		
    		<div class="dropdown">
      			<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        			<img src="./image/luffy.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
        			<span class="d-none d-md-inline">Username</span>
      			</a>
      			<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        			<li><a class="dropdown-item" href="#">Settings</a></li>
        			<li><a class="dropdown-item" href="#">Profile</a></li>
        			<li><hr class="dropdown-divider"></li>
        			<li><a class="dropdown-item" href="#">Sign out</a></li>
      			</ul>
    		</div>
    	
  	</div>   -->
  	
  	<!-- Sidebar -->
  	<div class=" d-flex flex-column justify-content-start flex-shrink-0 col-md-3 navbar navbar-expand-md navbar-dark border-end p-1" id="side-bar" style=" max-width:300px">
  	 
    	<div class="collapse nav navbar-collapse flex-column justify-content-between" id="navbarTogglerDemo03" style="width:100%">
    		
      		<ul class="nav nav-pills mb-auto flex-column" style="width:100%">
      
      			<li class="nav-item mt-3 mx-2">
        			<a th:href="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? '/adminDashboard' : '/userDashboard'}"
   						class="text-white text-decoration-none fs-5">
   						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-house-door-fill" viewBox="0 0 16 16">
  							<path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
						</svg>
    					<span class="ms-2">Dashboard</span>
					</a>
     
      			</li>
      	
      			<hr class="border border-light border-2" />
      			
      			<li class="nav-item mt-1 mb-2 mx-1">
        			<a th:href="@{/assetList}" class="nav-link active text-decoration-none text-white" aria-current="page">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-fill" viewBox="0 0 16 16">
  							<path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4zM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6z"/>
						</svg>
          				<span class=" ms-2">Asset</span>
        			</a>
      			</li>
      			<li class="nav-item mt-3 mb-2 mx-2">
        			<a th:href="@{/assetRegistration}" class="text-decoration-none text-white" aria-current="page">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text " viewBox="0 0 16 16">
  							<path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
  							<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
  							<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
						</svg>
          				<span class="ms-2">Asset Registration</span>
        			</a>
      			</li>
      			<li class="nav-item mt-3 mb-2 mx-2">
        			<a th:href="@{/assetHistory}"class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise " viewBox="0 0 16 16">
  							<path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
  							<path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
						</svg>
          				<span class="ms-2">Asset History</span>
        			</a>
      			</li>
      			<li class="nav-item mt-3 mb-2 mx-2">
        			<a href="#" class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
  							<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
						</svg>			
						<span class="ms-2">Asset Categories</span>
        			</a>
      			</li>
      			<li class="nav-item mt-3 mb-2 mx-2">
        			<a href="#" class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill " viewBox="0 0 16 16">
  							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
						</svg>
          				<span class="ms-2">Asset Status</span>
        			</a>
      			</li>
  
      			<li class="nav-item mt-3 mb-2 mx-2">
        			<a href="#" th:href="@{/UserList}" class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
  							<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
						</svg>	
          				<span class="ms-2">Employee</span>
        			</a>
      			</li>
      			
      			<li class="nav-item mt-3 mb-2 mx-2">
        			<a th:href="@{${#authorization.expression('hasRole(''ADMIN'')')} ? '/registration/userRegistrationByAdmin' : '/registration'}" class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
  							<path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
  							<path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
						</svg>	
          				<span class="ms-2">Employee Registration</span>
        			</a>
      			</li>
      			
      			<li class="nav-item mt-3 mb-2 mx-2">
        			<a href="#"  class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-up " viewBox="0 0 16 16">
  							<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  							<path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
						</svg>	
          				<span class="ms-2">Request Module</span>
        			</a>
      			</li>
      			<li class="nav-item mt-3 mb-2 mx-2">
        			<a href="#" class="text-decoration-none text-white">
          				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stack " viewBox="0 0 16 16">
  							<path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.6.6 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.6.6 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.6.6 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535z"/>
  							<path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.6.6 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0z"/>
						</svg>	
          				<span class="ms-2">Report</span>
        			</a>
      			</li>	
    		</ul>
    		<hr>
    		
    		<div class="dropdown" style="width:100%">
      				<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        				<img src="./image/luffy.jpg" alt="img" width="32" height="32" class="rounded-circle ms-3">
        				<span class="ms-2">Username</span>
      				</a>
      				<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        				<li><a class="dropdown-item" href="#">Settings</a></li>
        				<li><a class="dropdown-item" href="#">Profile</a></li>
        				<li><hr class="dropdown-divider"></li>
        				<li><a class="dropdown-item" href="#">Sign out</a></li>
      				</ul>
    		</div>
    	</div>
    	
    
    	<button class="navbar-toggler" id="toggleButton"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon" > </span>
    	</button>
    
    	<a th:href="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? '/adminDashboard' : '/userDashboard'}"
   						class="d-md-none text-white text-decoration-none fs-5 my-3 collapsedIcon">
   						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-house-door-fill" viewBox="0 0 16 16">
  							<path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
						</svg>
    					
		</a>
		
		<a th:href="@{/assetList}" class="d-md-none text-decoration-none text-white my-3 collapsedIcon" aria-current="page" >
          				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box2-fill" viewBox="0 0 16 16">
  							<path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4zM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6z"/>
						</svg>   				
		</a>
	
		<a th:href="@{/assetRegistration}" class="d-md-none text-decoration-none text-white my-3 collapsedIcon" aria-current="page" >
          				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-journal-text " viewBox="0 0 16 16">
  							<path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
  							<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
  							<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
						</svg>
        </a>
        			
		<a th:href="@{/assetHistory}"class="d-md-none text-decoration-none text-white my-3 collapsedIcon" >
          				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-counterclockwise " viewBox="0 0 16 16">
  							<path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
  							<path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
						</svg>  				
        </a>
        			
		<a href="#" class="d-md-none text-decoration-none text-white my-3 collapsedIcon" >
          				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
  							<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
						</svg>					
        </a>
        			
		<a href="#" class="d-md-none text-decoration-none text-white my-3 collapsedIcon" >
          				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill " viewBox="0 0 16 16">
  							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
						</svg> 				
        </a>
  			
		<a th:href="@{/UserList}" class="d-md-none text-decoration-none text-white my-3 collapsedIcon" >
          				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
  							<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
						</svg>				
        </a>
        
        <a th:href="@{/userRegistrationByAdmin}" class="d-md-none text-decoration-none text-white my-3 collapsedIcon" >						
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
  							<path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
  							<path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
						</svg>							
        </a>
        			
		<a href="#"  class="d-md-none text-decoration-none text-white my-3 collapsedIcon" >
          				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-up " viewBox="0 0 16 16">
  							<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  							<path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
						</svg>				
        </a>
        			
		<a href="#" class="d-md-none text-decoration-none text-white my-3 collapsedIcon" >
          				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stack " viewBox="0 0 16 16">
  							<path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.6.6 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.6.6 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.6.6 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535z"/>
  							<path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.6.6 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0z"/>
						</svg>					
        </a>
        			
		<a href="#" class="d-md-none d-flex align-items-center text-white text-decoration-none dropdown-toggle mt-auto collapsedIcon"   data-bs-toggle="dropdown" aria-expanded="false">
        				<img src="./image/luffy.jpg" alt="img" width="32" height="32" class="rounded-circle ms-3">
      	</a>
      	<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        				<li><a class="dropdown-item" href="#">Settings</a></li>
        				<li><a class="dropdown-item" href="#">Profile</a></li>
        				<li><hr class="dropdown-divider"></li>
        				<li><a class="dropdown-item" href="#">Sign out</a></li>
      	</ul>
   </div>
 

  	
 <!-- Modal for Viewing Image-->
  <div class="modal fade" id="viewImageModal" tabindex="-1" aria-labelledby="viewImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewImageModalLabel">Asset Image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <img id="assetImage" src="" class="img-fluid" alt="Asset Image"  style="max-width: 100%; max-height: 500px; object-fit: contain;" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Main content area -->
  	<div class=" col-10 col-md-8 col-lg-9 mx-auto my-1 p-1">
		
		 <!-- Dashboard Heading -->
  		<h2 class="text-center fw-bold my-2">Asset List</h2>
  		
  		<!-- Success message -->
		<div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
  			<span th:text="${successMessage}"></span>
  			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<!-- Error message -->
		<div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
  			<span th:text="${errorMessage}"></span>
  			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		
		 <div class="d-flex flex-column flex-sm-row  align-items-start justify-content-start justify-content-sm-between align-items-center my-3">
    	  	
    	  	<div class="d-flex justify-content-start col-12 col-sm-6 ">
        		<button class="btn btn-primary btn-sm my-2">
    				<a th:href="@{/assetRegistration}" class="text-decoration-none text-white">Add Asset</a>
				</button>
        		<a id="sortButton" class="btn btn-primary btn-sm my-2 mx-2 text-decoration-none text-white" th:href="@{/assets/page/{currentPage}(currentPage=${currentPage},sortField=${sortField}, sortDir=${reverseSortDir})}">
    				Sort: <span th:text="${sortDir == 'asc' ? 'Desc' : 'Asc'}"></span>
				</a>
    		</div>
    		
    		
    		<form role="search" action="/assetList" method="get" class="d-flex  col-12 col-sm-5 my-2">
        		<div class="input-group">
            		<input type="search" class="form-control" placeholder="Search by name" aria-label="Search" name="keyword" value="">
            		<button class="btn btn-primary" type="submit">Search</button>
        		</div>
    		</form>
   
		</div>  
  		
  		<div class="table-responsive-lg ">
            <table class="table align-middle table-striped table-hover table-bordered m-1">
  				<thead class="text-center">
   				 <tr>
      				<th scope="col">SR No.</th>
      				<th scope="col">Image</th>
      				<th scope="col">Asset Model No</th>
      				<th scope="col">Name</th> 	
     				<th scope="col">Assigned Employee</th>
     				<th scope="col">Unit Price</th>
     				<th scope="col">Date of Purchase</th>
     				<th scope="col">Status</th>
     				<th scope="col">Action</th>
   				 </tr>
 			    </thead>
  
  				<tbody class="table-group-divider" >
    			 <tr th:each="asset, iterStat : ${assets}" class="text-center">
              		<td th:text="${iterStat.count}"></td>
              		<td>
                		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewImageModal"
              				th:data-image-path="'/assets/' + ${asset.imagePath}" onclick="showImage(this)" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
              				View 
            			</button>
            		</td>
      				<td th:text="${asset.modelNo}"></td>
      				<td th:text="${asset.name}"></td>
      				<td th:text="${asset.employee}"></td>
      				<td th:text="${asset.price}"></td>
      				<td th:text="${asset.purchaseDate}"></td>
      				<td th:text="${asset.status}"></td>
      				<td class=" d-flex flex-column flex-lg-row  align-item-center align-items-lg-center justify-content-lg-around py-lg-3"> 
      					<a class="btn btn-primary mb-1 me-lg-1 text-white" 
                       		th:href="@{/assetUpdate/{id}(id=${asset.id})}" 
                       		style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        	Update
                    	</a>
                    	<a class="btn btn-danger mb-1 text-white" 
                       		th:href="@{/assetDelete/{id}(id=${asset.id})}" 
                       		style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        	Delete
                    	</a>
    			 	</td>
    			 </tr>
  			    </tbody>
			</table>
			
			<div aria-label="Page navigation example" class="col-12">
  				<ul class="pagination m-1 my-2 col-12">
  					<li class="page-item">
						<span class="page-link text-dark">Total Assets : [[${totalItems}]]</span>
					</li>
    				<li class="page-item">
    					<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/assets/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
    					<span class="page-link" th:unless="${currentPage > 1}">Previous</span>
    				</li>
    				<li class="page-item d-flex ">
    					<span  th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a class="page-link" th:if="${currentPage !=i}" th:href="@{'/assets/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span class="page-link" th:unless ="${currentPage != i}">[[${i}]]</span> 
						</span>
    				</li>
    				
    				<li class="page-item">
    					<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/assets/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
						<span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
					</li>
    				<li class="page-item">
    					<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/assets/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
						<span class="page-link" th:unless="${currentPage < totalPages}">Last</span></li>
  				</ul>
			</div> 
		</div>
		
		
		
  	</div>

  </main>

  <!--Footer-->
  <footer class="py-3 ">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" th:href="@{/index}" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="/" th:href="@{/faq}" class="nav-link px-2 text-white">FAQs</a></li>
            <li class="nav-item"><a href="/" th:href="@{/MonkeyDLuffy}" class="nav-link px-2 text-white">About</a></li>
    </ul>
    <p class="text-center text-white">© 2024 MonkeyDLuffy</p>
  </footer>


  
   
    <script>
    //Show image in modal
    function showImage(button) {
    
      // Get the image path from the data attribute
      var imagePath = button.getAttribute("data-image-path");
      
      // Set the image source to the modal image element
      var assetImage = document.getElementById("assetImage");
      assetImage.src = imagePath;
    }
  </script> 
  
  <script th:src="@{/js/script.js}"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous">
  </script>
   
   

</body>

</html>